**/.env
client/vendor/
client/**/*.log
client/**/*.sqlite
client/.idea/
client/bin/
client/tmp/
client/node_modules/
client/.sass-cache/
client/public/assets/
client/.vscode/
client/.grifter/
client/**/.DS_Store
client/*.pid
client/coverage
client/coverage.data
client/.svn
client/.console_history
client/.sass-cache/*
client/.jhw-cache/
client/jhw.*
client/*.sublime*
client/dist/
client/generated/
client/.vendor/
client/.pnp.*
client/.yarn/*
client/!.yarn/patches
client/!.yarn/plugins
client/!.yarn/releases
client/!.yarn/sdks
client/!.yarn/versions
